@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

body {
  font-family: "Inter", sans-serif;
}
a.nuxt-link-exact-active {
  color: #00c58e;
}
a.nuxt-link-exact-active:hover {
  color: #00c58e;
}
.slick-slider {margin-top: -30px; margin-bottom: 50px;}

.slick-prev{left: 80px!important; z-index: 3; width: 40px!important; height: 40px!important;
  &::before{color: #000!important;font-size: 40px!important;}
}

.slick-next{right: 80px!important; z-index: 3; width: 40px!important; height: 40px!important;
  &::before{color: #000!important;font-size: 40px!important;}
}

.slick-dots {
  li{
    button{
      &::before{font-size: 10px!important;}
    }
  }
}

.active{
  opacity: 1;
  visibility: visible;
}
.hidden{
  display: none;
}

@media only screen and (max-width: 992px) {
  .slick-arrow{display: none!important;}
}

